body {
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
}

p,
li,
li a {
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}


::selection {
    color: #fff;
    background: #4765a0;
}

.content {
    margin-top: 75px;
}