body {
    overflow-x: hidden;
}

.text-primary {
    color: #4765a0 !important;
}

.btn-primary {
    background-color: #4765a0;
    border-color: #4765a0;
}

.btn-danger {
    background-color: #c00000;
    border-color: #c00000;
}

.main-title {
    color: #444;
    font-size: 36px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;

    @media (max-width:767px) {
        font-size: 24px;
    }

    &:after {
        bottom: 0;
        left: 50%;
        height: 1px;
        width: 70px;
        content: " ";
        margin-left: -35px;
        position: absolute;
        background: #c00000;
    }

    &.left {
        &:after {
            left: 0;
            margin-left: 0;
        }
    }
}

//header
.header {
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    -webkit-transition: background .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, padding .3s ease-in-out;
    transition: background .3s ease-in-out, padding .3s ease-in-out;

    &__fixed {
        background: #fff;
        box-shadow: 0 0 3px #b5b5b5;
        padding: 0.75rem 1rem !important;
        .nav-link {
            color: #777 !important;
        }
    }
}
.nav-link {
    color: #eee !important;
    margin-right: 15px;
}
.navbar-toggler {
    background-color: #fff;
}
//ourfeature
.spacer {
    padding: 80px 0;
}

//ourfeature

.gridtile {
    position: relative;
    z-index: 1;
    &:after {
        content: '';
        background: rgba(0, 0, 0, 0.4) url(../images/gridtile.png);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

//footer
.footer {
    .page-scroll {
        cursor: pointer;
        transition: 0.2s linear;
        position: relative;
        top: 0;
        &:hover {
            top: -5px;
        }
    }

    i {
        font-size: 25px;
        text-align: center;
        display: inline-block;
        color: #c00000;
        font-weight: 600;
        background: #fff;
        border: 1px solid #dee2e6;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: grid;
        place-content: center;
    }
    &__copyright {
        z-index: 1;
        background: #fff;
        position: relative;
        text-align: center;
        padding: 30px 0 25px;
        background: #870000;
        background: -webkit-linear-gradient(to left, #190A05, #870000);
        background: linear-gradient(to left, #190A05, #870000);
    }
}

.gsid-solutions {
    background: url(../images/img2.jpg) no-repeat center fixed;
    background-size: cover;

    &:after {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .card {
        &:hover {
            transform: scale(1.05);
        }
    }
}

.gateways {
    .card {
        transition: 0.3s linear;
        height: 100%;
        box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05);
    }

    &__list {
        margin: 0;
        padding-left: 0;

        li {
            list-style: none;
            text-align: left;
            padding-left: 25px;
            position: relative;
            font-size: 16px;
            letter-spacing: 0.4px;
            margin-bottom: 15px;
            font-weight: 600;

            &:before {
                content: "L";
                -webkit-transform: scaleX(-1) rotate(-35deg);
                transform: scaleX(-1) rotate(-35deg);
                font-family: arial;
                display: inline-block;
                position: absolute;
                left: 0;
                font-size: 18px;
                top: -2px;
            }
        }
    }
}

.edge__devices {
    .card {
        box-shadow: 0 2px 2px 0 #d8d6d6;
    }
}

.edgedevice__banner {
    background: url(../images/GSISD-Edge-Devices.jpg) no-repeat center !important;
}

.vnf__banner {
    background: url(../images/GSISD-Virtual-Network-Functions.jpg) no-repeat center !important;
}

//slider


.rs-caption-1 {
    color: #fff;
    font-size: 50px;
    font-weight: 200;
    padding: 6px 75px;
    position: relative;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    @media (max-width:767px) {
        font-size: 26px !important;
    }
}

.rs-caption-2 {
    color: #fff;
    position: relative;
    font-size: 26px;
    font-weight: 200;
    line-height: 40px;
    padding: 10px 50px;
    text-align: center;
        @media (max-width:767px) {
        font-size: 18px !important;
        line-height: 1.5 !important;
    }
}

.tp-dottedoverlay {
    z-index: 1 !important;
}
.intro-section {
    background: #222;
}
.redgradient {
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(218,45,18,0.6));
}
.accordion-button {
    font-size: inherit;
}
.accordion-button:not(.collapsed) {
    color: #c00000;
    background-color: #e2e3e5;
}
.accordion-button {
    background: linear-gradient(to left, white, rgba(218, 45, 18, 0.6));
}

.fullscreenbanner-container ,.tp-simpleresponsive > ul > li,.tp-dottedoverlay{
    @media (max-width:767px) {
        height: 50vh !important;
    }
}